.border-mark{
	border-style:solid;
	border-color: black;
	border-width: 2px;
}


.rounded{
	border-radius: 10px;
}

.border-transparent{
	border-style: none;
}

.end{
	position: absolute;
  bottom: 0;
  left: 1%;
  right: 1%;
}


@media screen and (max-width: 1062px) {
		div.movil {
		display: none;
        }

        th.movil{
            display:none;
            font-size: 10;
        }
        td.movil{
            display:none;
            font-size: 10;            
        }
	}

	@media screen and (min-width: 1061px) {
		p.movil {
		display:none;		
		}
	}
	
.loader {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 100px; /* Added */
    margin-top: 100px; /* Added */
    width: 20em;
    height: 20em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color:#BB032F;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color:#03539B;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                0 0 4em,
                0 0 6em,
                0 0 8em,
                0 0 10em,
                0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}

.debug{
    display:none
}

.opacity-5{
    opacity: 0.7;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#mapid { height: 100%;}

.circle-btn-btn {
  
  height: 30px;
  width:  30px;
  border-radius: 50%;
  border: 1px solid red;
  margin-left: auto;

  
}

.center-items{
  align-items: center;
}


*{
    margin:0;
  }
  header{
    height:170px;
    color:#FFF;
    font-size:20px;
    font-family:Sans-serif;
    background:#009688;
    padding-top:30px;
    padding-left:50px;
  }
  .contenedor{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
  }
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#03539B;
    right:0;
    bottom:0;
    position:fixed;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .btn_float{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:fixed;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
  }
  .botonF2{
    background:#2196F3;
    margin-bottom:85px;
    transition:0.5s;
  }
  .botonF3{
    background:#673AB7;
    margin-bottom:130px;
    transition:0.7s;
  }
  .botonF4{
    background:#009688;
    margin-bottom:175px;
    transition:0.9s;
  }
  .botonF5{
    background:#FF5722;
    margin-bottom:220px;
    transition:0.99s;
  }
  .animacionVer{
    transform:scale(1);
  }


  .btn-primary-ottis {
    color: #fff;
    background-color: #BB032F;
    border-color: #BB032F;
  }

  .btn-secondary-ottis {
    color: #fff;
    background-color: #03539B;
    border-color: #03539B;
  }

  .botonDelete{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#BB032F;
    right:0;
    bottom:0;
    position:fixed;
    margin-right:16px;
    margin-bottom:96px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }